<footer class="container mt-4">
    <div class="d-flex justify-content-between">
        <p>[...] &copy; {{ TODAY|date('Y') }} [...] &middot;
            <a href="#">Footer link</a>
        </p>
    </div>
</footer>
