<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Dein Leaderboard - {{ "Error"|trans }}</title>
  <link rel="icon" href="/img/logo.svg" type="image/svg+xml">
  <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
</head>

<body>
  <div class="container mt-1">
    <div class="content">
      {% block contents %}
      {% endblock %}
    </div>
  </div>
</body>

</html>